
.head{
    display: flex;

}

.logo{
    width: 100px;
    height: 100px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 30px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.header{
    height: 100px;
    width: 405px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 175px;
    margin-bottom: 5px;
    margin-right: 5px;

}

.nav{
    height: 250px;
    width: 100px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 40px ;
    margin-top: 5px;
    margin-right: 5px;

}

.store-loc{
    width: 100px;
    height: 50px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 5px;
    margin-right: 5px;
}


.tools{
    width: 100px;
    height: 50px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 25px;
    margin-top: 5px;
    margin-right: 5px;


}

.midle-right{

}


.BSI{
    height: 135px;
    width: 250px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 60px;
    padding-left:55px;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;

}

.middle-left{
    display: block;

}


.midle-blocks{
    display: flex;

}

.TofB{
    height: 220px;
    width: 250px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 70px;
    margin-top: 5px;
    margin-right: 5px;
}

.midle-top-right{
    display: flex;
    flex-direction: column;

}


.ad{
    width: 150px;
    height: 100px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 45px;
    padding-left: 65px;
    margin-top: 5px;
    margin-right: 5px;

}

.Rl-product{
    height: 255px;
    width: 150px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 110px ;
    padding-left: 50px ;
    margin-top: 5px;


}

.Footer{
    width: 510px;
    height: 100px;
    background-color: slategray;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 230px;
    margin-top: 5px;
    margin-right: 5px;

}

